<% include ../partials/header %>
<div class="container">
    <div class="row main">
        <div class="col-md-4 col-md-offset-2 col-lg-offset-1 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <div class="thumbnail">
                <img class="img-rounded img-fluid" src="<%= card.image %>">
                <div class="caption-full">
                    <h4><%=card.name%></h4>
                    <p><%= card.description %></p>
                    <p>
                      <em>Submitted by: <%= card.author.username %></em>
                    </p>
                    <% if(currentUser && card.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning" href="/cards/<%= card._id %>/edit">Edit</a>
                        <form class="delete-form" action="/cards/<%= card._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-0 col-lg-offset-1 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1  comments">
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/cards/<%= card._id %>/comments/new">Add New Comment</a>
                </div>
                <% card.comments.forEach( (comment) => { %>
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                            <p>
                                <span class="comment-author"><strong><%= comment.author.username %></strong></span>
                                <span class="pull-right">10 days ago</span>
                            </p>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && card.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" href="/cards/<%=card._id %>/comments/<%=comment._id %>/edit">Edit</a>
                            <form class="delete-form" action="/cards/<%=card._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>